</div>
<!-- /section-content-right -->
</div>
<!-- /layout-wrap -->
</div>
<!-- /#page -->
</div>
<!-- /#wrapper -->

<!-- Javascript -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

<script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
<script src="/admin/js/jquery.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/bootstrap-select.min.js"></script>
<script src="/admin/js/zoom.js"></script>
<script src="/admin/js/apexcharts/apexcharts.js"></script>
<script src="/admin/js/apexcharts/line-chart-17.js"></script>
<script src="/admin/js/apexcharts/line-chart-18.js"></script>
<script src="/admin/js/apexcharts/line-chart-19.js"></script>
<script src="/admin/js/apexcharts/line-chart-20.js"></script>
<script src="/admin/js/apexcharts/line-chart-21.js"></script>
<script src="/admin/js/apexcharts/line-chart-22.js"></script>
<!-- <script /admin/src="js/switcher.js"></script> -->
<script src="/admin/js/theme-settings.js"></script>
<script src="/admin/js/main.js"></script>

</body>

</html>